<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inbox</title>
</head>
<body>
  <header>
    Username: {{ username }}
    <a href="/create">Create Email</a>
    <a href="/sentbox">Sentbox</a>
    <a href="/logout">Logout</a>
  </header>
  <div style="border: solid 5px; padding: 10px; display: flex; align-items:center; justify-content: center; width: 50%; margin: auto; flex-wrap: wrap;">
    {{#each mail}}
      <div id="mail-{{id}}" style="border: solid 2px; padding: 10px; width: 100%;">
          {{sender}} {{datetime}} <br>
          <div>
            {{message}}
          </div>
      </div>
          <br>
    {{/each}}
  </div>
</body>
</html>